<div class="row">
  <div class="col-12">
    <hr />
    <h1 *ngIf="editando">Antropométrico</h1>
    <h4 *ngIf="esDetalle" class="text-muted">
      Consulta del {{ datos?.datoAntropometrico?.fecha | date }}

      <a
        (click)="editar()"
        class="btn btn-info"
        href="javascript:void(0)"
        role="button"
      >
        <i *ngIf="!cargando; else cargaTemplate" class="fas fa-edit"></i
      ></a>
      <a
        (click)="eliminar()"
        class="btn btn-danger ml-3"
        href="javascript:void(0)"
        role="button"
      >
        <i *ngIf="!cargando; else cargaTemplate" class="fas fa-times"></i
      ></a>
    </h4>

    <div *ngIf="formulario" class="form" [formGroup]="formulario">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <h6>IMC:</h6>
              {{ imc() | number: "0.2-2" }}
            </div>
            <div class="col-6">
              <h6>DXIMC:</h6>

              <span
                [class]="
                  'bg-' +
                  claveColorDiagnostico[imcDiagnostico()] +
                  ' text-white'
                "
              >
                {{ imcDiagnostico() }}
              </span>
            </div>
            <div class="col-6">
              <h6>KG de grasa:</h6>
              {{ kgGrasa() | number: "0.2-2" }}
              kg
            </div>
            <div class="col-6">
              <h6>Peso teórico:</h6>
              {{ pesoTeorico() | number: "0.2-2" }}
              kg
            </div>
            <div class="col-6">
              <h6>Peso mínimo:</h6>
              {{ pesoMinimo() | number: "0.2-2" }}
              kg
            </div>
            <div class="col-6">
              <h6>Peso máximo:</h6>
              {{ pesoMaximo() | number: "0.2-2" }}
              kg
            </div>
            <div class="col-6">
              <h6>GER:</h6>
              {{ gastoEnergeticoReposo() | number: "0.0" }}

              <span *ngIf="paciente?.condicionActual?.embarazo">
                +

                {{ obtenerCaloriasTrimestre() }}

                cal (embarazo,
                {{ obtenerTrimestre() }}
                trimestre, semana
                {{ obtenerSemanas() }}) =
                {{
                  gastoEnergeticoReposo() + obtenerCaloriasTrimestre()
                    | number: "0.0"
                }}
              </span>
              cal

              <span *ngIf="f('compensacion').value">
                [ COMPESACIÓN {{ f("compensacion").value }} %] =
                {{ calculoCompesancion() }}
              </span>
            </div>
          </div>
        </div>

        <!-- 
        =====================================
         compensacion
        =====================================
        -->
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="form-group">
            <input
              [ngClass]="{
                'is-invalid': vs.invalid(f('compensacion')),
                'is-valid': vs.valid(f('compensacion'))
              }"
              type="text"
              class="form-control"
              formControlName="compensacion"
              mask="separator.2"
              suffix=" %"
            />
            <small id="helpId" class="form-text text-muted">Compensación</small>
            <app-validacion-inputs
              [campo]="f('compensacion')"
            ></app-validacion-inputs>
          </div>
        </div>
        <!-- 
        =====================================
         END compensacion
        =====================================
        -->

        <!-- 
=====================================
 peso
=====================================
-->
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="form-group">
            <input
              [ngClass]="{
                'is-invalid': vs.invalid(f('peso')),
                'is-valid': vs.valid(f('peso'))
              }"
              type="text"
              class="form-control"
              formControlName="peso"
              mask="separator.2"
              suffix=" kg"
            />
            <small id="helpId" class="form-text text-muted">Peso</small>
            <app-validacion-inputs [campo]="f('peso')"></app-validacion-inputs>
          </div>
        </div>
        <!-- 
=====================================
END peso
=====================================
-->

        <!-- 
=====================================
 talla
=====================================
-->
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="form-group">
            <input
              [ngClass]="{
                'is-invalid': vs.invalid(f('talla')),
                'is-valid': vs.valid(f('talla'))
              }"
              type="text"
              class="form-control"
              formControlName="talla"
              mask="separator.2"
              suffix=" m"
            />
            <small id="helpId" class="form-text text-muted">Talla</small>
            <app-validacion-inputs [campo]="f('talla')"></app-validacion-inputs>
          </div>
        </div>
        <!-- 
=====================================
 END talla
=====================================
-->

        <!-- 
=====================================
 circunferenciaCintura
=====================================
-->
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="form-group">
            <input
              [ngClass]="{
                'is-invalid': vs.invalid(f('circunferenciaCintura')),
                'is-valid': vs.valid(f('circunferenciaCintura'))
              }"
              type="text"
              class="form-control"
              formControlName="circunferenciaCintura"
              mask="separator.2"
              suffix=" cm"
            />
            <small id="helpId" class="form-text text-muted"
              >Circunferencia cintura</small
            >
            <app-validacion-inputs
              [campo]="f('circunferenciaCintura')"
            ></app-validacion-inputs>
          </div>
        </div>
        <!-- 
=====================================
 END circunferenciaCintura
=====================================
-->

        <!-- 
=====================================
 circunferenciaAbdomen
=====================================
-->
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="form-group">
            <input
              [ngClass]="{
                'is-invalid': vs.invalid(f('circunferenciaAbdomen')),
                'is-valid': vs.valid(f('circunferenciaAbdomen'))
              }"
              type="text"
              class="form-control"
              formControlName="circunferenciaAbdomen"
              mask="separator.2"
              suffix=" cm"
            />
            <small id="helpId" class="form-text text-muted"
              >Circunferencia abdomen</small
            >
            <app-validacion-inputs
              [campo]="f('circunferenciaAbdomen')"
            ></app-validacion-inputs>
          </div>
        </div>
        <!-- 
=====================================
 END circunferenciaAbdomen
=====================================
-->

        <!-- 
=====================================
 circunferenciaCadera
=====================================
-->
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="form-group">
            <input
              [ngClass]="{
                'is-invalid': vs.invalid(f('circunferenciaCadera')),
                'is-valid': vs.valid(f('circunferenciaCadera'))
              }"
              type="text"
              class="form-control"
              formControlName="circunferenciaCadera"
              mask="separator.2"
              suffix=" cm"
            />
            <small id="helpId" class="form-text text-muted"
              >Circunferencia cadera</small
            >
            <app-validacion-inputs
              [campo]="f('circunferenciaCadera')"
            ></app-validacion-inputs>
          </div>
        </div>
        <!-- 
=====================================
 END circunferenciaCadera
=====================================
-->

        <!-- 
=====================================
 masaMuscular
=====================================
-->
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="form-group">
            <input
              [ngClass]="{
                'is-invalid': vs.invalid(f('masaMuscular')),
                'is-valid': vs.valid(f('masaMuscular'))
              }"
              type="text"
              class="form-control"
              formControlName="masaMuscular"
              mask="separator.2"
              suffix=" kg"
            />
            <small id="helpId" class="form-text text-muted"
              >Masa muscular</small
            >
            <app-validacion-inputs
              [campo]="f('masaMuscular')"
            ></app-validacion-inputs>
          </div>
        </div>
        <!-- 
=====================================
 END masaMuscular
=====================================
-->

        <!-- 
=====================================
 porcentajeDeGrasa
=====================================
-->
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="form-group">
            <input
              [ngClass]="{
                'is-invalid': vs.invalid(f('porcentajeDeGrasa')),
                'is-valid': vs.valid(f('porcentajeDeGrasa'))
              }"
              type="text"
              class="form-control"
              formControlName="porcentajeDeGrasa"
              mask="separator.2"
              suffix=" %"
            />
            <small id="helpId" class="form-text text-muted"
              >Porcentaje de grasa</small
            >
            <app-validacion-inputs
              [campo]="f('porcentajeDeGrasa')"
            ></app-validacion-inputs>
          </div>
        </div>
        <!-- 
=====================================
 END porcentajeDeGrasa
=====================================
-->

        <!-- 
=====================================
 porcentajeDeAgua
=====================================
-->
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="form-group">
            <input
              [ngClass]="{
                'is-invalid': vs.invalid(f('porcentajeDeAgua')),
                'is-valid': vs.valid(f('porcentajeDeAgua'))
              }"
              type="text"
              class="form-control"
              formControlName="porcentajeDeAgua"
              mask="separator.2"
              suffix=" %"
            />
            <small id="helpId" class="form-text text-muted"
              >Porcentaje de agua</small
            >
            <app-validacion-inputs
              [campo]="f('porcentajeDeAgua')"
            ></app-validacion-inputs>
          </div>
        </div>
        <!-- 
=====================================
 END porcentajeDeAgua
=====================================
-->
      </div>
    </div>
  </div>
  <div *ngIf="editando" class="col-12">
    <hr />
    <a
      (click)="submit(formulario.value, formulario.invalid)"
      class="btn btn-success"
      href="javascript:void(0)"
      role="button"
    >
      <i *ngIf="!cargando; else cargaTemplate" class="fas fa-save"></i>
      Guardar</a
    >
  </div>
</div>

<ng-template #cargaTemplate>
  <i class="fas fa-sync fa-spin"></i>
</ng-template>
