<div class="row mt-3">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>#</th>
              <th>Nombre</th>
              <th>Edad</th>
              <th>Sexo</th>
              <th>Celular</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paciente of pacientes">
              <td>
                <a
                  (click)="detalle(paciente)"
                  class="btn btn-primary"
                  href="javascript:void(0)"
                  role="button"
                >
                  Detalle
                </a>
              </td>

              <td>{{ paciente._id }}</td>
              <td>{{ paciente.nombre }}</td>
              <td>{{ calcularEdad(paciente.fechaDeNacimiento) }}</td>
              <td>{{ paciente.sexo ? "Mujer" : "Hombre" }}</td>
              <td>{{ paciente.celular }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
