<div *ngIf="formulario" class="row mt-3 para-detalle">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <form [formGroup]="formulario" id="formularioDetalle">
          <div class="row">
            <ng-container *ngIf="false; else botonGuardado"></ng-container>
            <!-- 
=====================================
 nombre
=====================================
-->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
                <input
                  [ngClass]="{
                    'is-invalid': vs.invalid(f('nombre')),
                    'is-valid': vs.valid(f('nombre'))
                  }"
                  type="text"
                  class="form-control"
                  formControlName="nombre"
                />
                <small class="form-text text-muted">Nombre</small>
                <app-validacion-inputs
                  [campo]="f('nombre')"
                ></app-validacion-inputs>
              </div>
            </div>
            <!-- 
=====================================
 END nombre
=====================================
-->

            <!-- 
=====================================
 fechaDeNacimiento
=====================================
-->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
                <input
                  [ngClass]="{
                    'is-invalid': vs.invalid(f('fechaDeNacimiento')),
                    'is-valid': vs.valid(f('fechaDeNacimiento'))
                  }"
                  type="date"
                  class="form-control"
                  formControlName="fechaDeNacimiento"
                />
                <small class="form-text text-muted"
                  >Fecha de nacimiento. Edad
                  {{
                    utilidadesService.calcularEdad(f("fechaDeNacimiento").value)
                  }}
                  años
                </small>

                <app-validacion-inputs
                  [campo]="f('fechaDeNacimiento')"
                ></app-validacion-inputs>
              </div>
            </div>
            <!-- 
=====================================
 END fechaDeNacimiento
=====================================
-->

            <!-- 
=====================================
 celular
=====================================
-->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
                <input
                  [ngClass]="{
                    'is-invalid': vs.invalid(f('celular')),
                    'is-valid': vs.valid(f('celular'))
                  }"
                  type="text"
                  class="form-control"
                  formControlName="celular"
                />
                <small class="form-text text-muted">Celular</small>
                <app-validacion-inputs
                  [campo]="f('celular')"
                ></app-validacion-inputs>
              </div>
            </div>
            <!-- 
=====================================
 END celular
=====================================
-->

            <!-- 
=====================================
 sexo
=====================================
-->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
                <select
                  [ngClass]="{
                    'is-invalid': vs.invalid(f('sexo')),
                    'is-valid': vs.valid(f('sexo'))
                  }"
                  formControlName="sexo"
                  class="form-control"
                >
                  <option [ngValue]="true" selected>Mujer</option>
                  <option [ngValue]="false">Hombre</option>
                </select>
                <small class="form-text text-muted">Sexo</small>
                <app-validacion-inputs
                  [campo]="f('sexo')"
                ></app-validacion-inputs>
              </div>
            </div>
            <!-- 
=====================================
 END sexo
=====================================
-->

            <!-- 
=====================================
 Array metasDelPaciente 
=====================================
-->
            <div class="col-12">
              <hr />
              <h3>Metas</h3>
            </div>
            <ng-container formArrayName="metasDelPaciente">
              <ng-container
                *ngFor="
                  let dummy of fa('metasDelPaciente')?.controls;
                  let i = index
                "
              >
                <ng-container [formGroupName]="i">
                  <!-- 
    =====================================
     metasDelPaciente
    =====================================
    -->
                  <div class="col-12">
                    <div class="form-group">
                      <small
                        class="form-text text-muted d-flex justify-content-between"
                        >Meta #{{ i + 1 }}

                        <a
                          class="text-danger"
                          href="javascript:void(0)"
                          *ngIf="!esDetalle"
                          (click)="fa('metasDelPaciente').removeAt(i)"
                        >
                          Eliminar meta
                        </a>
                      </small>
                      <input
                        [ngClass]="{
                          'is-invalid': vs.invalid(dummy),
                          'is-valid': vs.valid(dummy)
                        }"
                        type="text"
                        class="form-control"
                        [formControl]="dummy"
                      />
                      <app-validacion-inputs
                        [campo]="dummy"
                        [directo]="true"
                      ></app-validacion-inputs>
                    </div>
                  </div>
                  <!-- 
    =====================================
     END metasDelPaciente
    =====================================
    -->
                </ng-container>
              </ng-container>
            </ng-container>

            <div class="col-12 mt-3">
              <a
                *ngIf="!esDetalle"
                (click)="agregarMeta()"
                class="btn btn-primary"
                href="javascript:void(0)"
                role="button"
                >Agregar meta</a
              >
            </div>
            <!-- 
=====================================
 END Array metasDelPaciente 
=====================================
-->
            <div class="col-12">
              <hr />
              <h3>Condicion actual</h3>
            </div>

            <ng-container formGroupName="condicionActual">
              <!-- 
              =====================================
               embarazo
              =====================================
              -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      formControlName="embarazo"
                    />
                    Embarazo
                  </label>
                </div>
              </div>
              <!-- 
              =====================================
               END embarazo
              =====================================
              -->

              <!-- 
              =====================================
               ultimaMesntruacion
              =====================================
              -->
              <div
                *ngIf="f('condicionActual.embarazo').value"
                class="col-12 col-md-6"
              >
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(
                        f('condicionActual.ultimaMenstruacion')
                      ),
                      'is-valid': vs.valid(
                        f('condicionActual.ultimaMenstruacion')
                      )
                    }"
                    type="date"
                    class="form-control"
                    formControlName="ultimaMenstruacion"
                  />
                  <small class="form-text text-muted">Última mestruación</small>
                  <app-validacion-inputs
                    [campo]="f('condicionActual.ultimaMenstruacion')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
               END ultimaMesntruacion
              =====================================
              -->

              <!-- 
              =====================================
               dm
              =====================================
              -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      formControlName="dm"
                    />
                    DM
                  </label>
                </div>
              </div>
              <!-- 
              =====================================
               END dm
              =====================================
              -->

              <!-- 
              =====================================
               ht
              =====================================
              -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      formControlName="ht"
                    />
                    HT
                  </label>
                </div>
              </div>
              <!-- 
              =====================================
               END ht
              =====================================
              -->

              <!-- 
              =====================================
               dl
              =====================================
              -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      formControlName="dl"
                    />
                    DL
                  </label>
                </div>
              </div>
              <!-- 
              =====================================
               END dl
              =====================================
              -->

              <!-- 
              =====================================
               au
              =====================================
              -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      formControlName="au"
                    />
                    AU
                  </label>
                </div>
              </div>
              <!-- 
              =====================================
               END au
              =====================================
              -->

              <!-- 
              =====================================
               ca
              =====================================
              -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      formControlName="ca"
                    />
                    CA
                  </label>
                </div>
              </div>
              <!-- 
              =====================================
               END ca
              =====================================
              -->

              <!-- 
              =====================================
               cv
              =====================================
              -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      formControlName="cv"
                    />
                    CV
                  </label>
                </div>
              </div>
              <!-- 
              =====================================
               END cv
              =====================================
              -->

              <!-- 
              =====================================
               otra
              =====================================
              -->
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('condicionActual.otra')),
                      'is-valid': vs.valid(f('condicionActual.otra'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="otra"
                  />
                  <small class="form-text text-muted">Otra</small>
                  <app-validacion-inputs
                    [campo]="f('condicionActual.otra')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
               END otra
              =====================================
              -->

              <ng-container formGroupName="problemasGastroIntestinales">
                <div class="col-12">
                  <hr />
                  <h3>Problemas Gastrointestinales</h3>
                </div>

                <!-- 
                =====================================
                 estrenimiento
                =====================================
                -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        formControlName="estrenimiento"
                      />
                      Estreñimiento
                    </label>
                  </div>
                </div>
                <!-- 
                =====================================
                 END estrenimiento
                =====================================
                -->

                <!-- 
                =====================================
                 diarrea
                =====================================
                -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        formControlName="diarrea"
                      />
                      Diarrea
                    </label>
                  </div>
                </div>
                <!-- 
                =====================================
                 END diarrea
                =====================================
                -->

                <!-- 
                =====================================
                 alergias
                =====================================
                -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        formControlName="alergias"
                      />
                      Alergias
                    </label>
                  </div>
                </div>
                <!-- 
                =====================================
                 END alergias
                =====================================
                -->

                <!-- 
                =====================================
                 vomito
                =====================================
                -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        formControlName="vomito"
                      />
                      Vomito
                    </label>
                  </div>
                </div>
                <!-- 
                =====================================
                 END vomito
                =====================================
                -->

                <!-- 
                =====================================
                 colitis
                =====================================
                -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        formControlName="colitis"
                      />
                      Colitis
                    </label>
                  </div>
                </div>
                <!-- 
                =====================================
                 END colitis
                =====================================
                -->

                <!-- 
                =====================================
                 gastritis
                =====================================
                -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        formControlName="gastritis"
                      />
                      Gastritis
                    </label>
                  </div>
                </div>
                <!-- 
                =====================================
                 END gastritis
                =====================================
                -->

                <!-- 
                =====================================
                 nauseas
                =====================================
                -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        formControlName="nauseas"
                      />
                      Nauseas
                    </label>
                  </div>
                </div>
                <!-- 
                =====================================
                 END nauseas
                =====================================
                -->

                <!-- 
                =====================================
                 agruras
                =====================================
                -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        formControlName="agruras"
                      />
                      Agruras
                    </label>
                  </div>
                </div>
                <!-- 
                =====================================
                 END agruras
                =====================================
                -->

                <!-- 
                =====================================
                 distencionAbdominal
                =====================================
                -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        formControlName="distencionAbdominal"
                      />
                      Distención abdominal
                    </label>
                  </div>
                </div>
                <!-- 
                =====================================
                 END distencionAbdominal
                =====================================
                -->

                <!-- 
                =====================================
                 otro
                =====================================
                -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div class="form-group">
                    <input
                      [ngClass]="{
                        'is-invalid': vs.invalid(
                          f('condicionActual.problemasGastroIntestinales.otro')
                        ),
                        'is-valid': vs.valid(
                          f('condicionActual.problemasGastroIntestinales.otro')
                        )
                      }"
                      type="text"
                      class="form-control"
                      formControlName="otro"
                    />
                    <small class="form-text text-muted">Otro</small>
                    <app-validacion-inputs
                      [campo]="
                        f('condicionActual.problemasGastroIntestinales.otro')
                      "
                    ></app-validacion-inputs>
                  </div>
                </div>
                <!-- 
                =====================================
                 END otro
                =====================================
                -->
              </ng-container>
            </ng-container>

            <div class="col-12">
              <hr />
              <h3>Actividad física</h3>
            </div>
            <ng-container formGroupName="actividadFisica">
              <!-- 
              =====================================
               tipo
              =====================================
              -->
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('actividadFisica.tipo')),
                      'is-valid': vs.valid(f('actividadFisica.tipo'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="tipo"
                  />
                  <small class="form-text text-muted">Tipo</small>
                  <app-validacion-inputs
                    [campo]="f('actividadFisica.tipo')"
                    [directo]="true"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
               END tipo
              =====================================
              -->

              <!-- 
              =====================================
               frecuenciaSemana
              =====================================
              -->
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(
                        f('actividadFisica.frecuenciaSemana')
                      ),
                      'is-valid': vs.valid(
                        f('actividadFisica.frecuenciaSemana')
                      )
                    }"
                    type="text"
                    class="form-control"
                    formControlName="frecuenciaSemana"
                    mask="separator.0"
                    suffix=" veces/semana"
                  />
                  <small class="form-text text-muted">Frecuencia semana</small>
                  <app-validacion-inputs
                    [campo]="f('actividadFisica.frecuenciaSemana')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
               END frecuenciaSemana
              =====================================
              -->

              <!-- 
              =====================================
               tiempoMinutos
              =====================================
              -->
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(
                        f('actividadFisica.tiempoMinutos')
                      ),
                      'is-valid': vs.valid(f('actividadFisica.tiempoMinutos'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="tiempoMinutos"
                    mask="separator.0"
                    suffix=" minutos"
                  />
                  <small class="form-text text-muted">Tiempo minutos</small>
                  <app-validacion-inputs
                    [campo]="f('actividadFisica.tiempoMinutos')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
               END tiempoMinutos
              =====================================
              -->

              <!-- 
              =====================================
               intensidad
              =====================================
              -->
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('actividadFisica.intensidad')),
                      'is-valid': vs.valid(f('actividadFisica.intensidad'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="intensidad"
                    mask="separator.0"
                    suffix=" g/intensidad"
                  />
                  <small class="form-text text-muted">Intensidad</small>
                  <app-validacion-inputs
                    [campo]="f('actividadFisica.intensidad')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
               END intensidad
              =====================================
              -->
            </ng-container>

            <div class="col-12">
              <hr />
              <h3>Habitos Alimentarios</h3>
            </div>
            <ng-container formGroupName="habitosAlimentarios">
              <ng-container formGroupName="r24h">
                <div class="col-12">
                  <hr />
                  <h4 class="text-info">Recordatorio 24 horas</h4>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 col-sm-3">
                      <h6>Desayuno</h6>

                      <!-- 
                  =====================================
                   Array desayuno 
                  =====================================
                  -->
                      <ng-container formArrayName="desayuno">
                        <ng-container
                          *ngFor="
                            let dummy of fa('habitosAlimentarios.r24h.desayuno')
                              ?.controls;
                            let i = index
                          "
                        >
                          <ng-container [formGroupName]="i">
                            <!-- 
=====================================
 desayuno
=====================================
-->
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                [formControl]="dummy"
                                (keyup.enter)="
                                  agregarControl(
                                    fa('habitosAlimentarios.r24h.desayuno')
                                  )
                                "
                              />
                              <small id="helpId" class="form-text text-muted">
                                <a
                                  (click)="
                                    eliminarControl(
                                      fa('habitosAlimentarios.r24h.desayuno'),
                                      i
                                    )
                                  "
                                  class="text-danger"
                                  href="javascript:void(0)"
                                  *ngIf="!esDetalle"
                                  >Eliminar</a
                                >
                              </small>
                            </div>
                            <!-- 
=====================================
 END desayuno
=====================================
-->
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <!-- 
                  =====================================
                   END Array desayuno 
                  =====================================
                  -->
                    </div>
                    <div class="col-12 col-sm-3">
                      <h6>Colación M.</h6>

                      <!-- 
                  =====================================
                   Array colacionM 
                  =====================================
                  -->
                      <ng-container formArrayName="colacionM">
                        <ng-container
                          *ngFor="
                            let dummy of fa(
                              'habitosAlimentarios.r24h.colacionM'
                            )?.controls;
                            let i = index
                          "
                        >
                          <ng-container [formGroupName]="i">
                            <!-- 
=====================================
 colacionM
=====================================
-->
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                [formControl]="dummy"
                                (keyup.enter)="
                                  agregarControl(
                                    fa('habitosAlimentarios.r24h.colacionM')
                                  )
                                "
                              />
                              <small id="helpId" class="form-text text-muted">
                                <a
                                  (click)="
                                    eliminarControl(
                                      fa('habitosAlimentarios.r24h.colacionM'),
                                      i
                                    )
                                  "
                                  class="text-danger"
                                  href="javascript:void(0)"
                                  *ngIf="!esDetalle"
                                  >Eliminar</a
                                >
                              </small>
                            </div>
                            <!-- 
=====================================
 END colacionM
=====================================
-->
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <!-- 
                  =====================================
                   END Array colacionM 
                  =====================================
                  -->
                    </div>
                    <div class="col-12 col-sm-3">
                      <h6>Comida</h6>

                      <!-- 
                  =====================================
                   Array comida 
                  =====================================
                  -->
                      <ng-container formArrayName="comida">
                        <ng-container
                          *ngFor="
                            let dummy of fa('habitosAlimentarios.r24h.comida')
                              ?.controls;
                            let i = index
                          "
                        >
                          <ng-container [formGroupName]="i">
                            <!-- 
=====================================
 comida
=====================================
-->
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                [formControl]="dummy"
                                (keyup.enter)="
                                  agregarControl(
                                    fa('habitosAlimentarios.r24h.comida')
                                  )
                                "
                              />
                              <small id="helpId" class="form-text text-muted">
                                <a
                                  (click)="
                                    eliminarControl(
                                      fa('habitosAlimentarios.r24h.comida'),
                                      i
                                    )
                                  "
                                  class="text-danger"
                                  href="javascript:void(0)"
                                  *ngIf="!esDetalle"
                                  >Eliminar</a
                                >
                              </small>
                            </div>
                            <!-- 
=====================================
 END comida
=====================================
-->
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <!-- 
                  =====================================
                   END Array comida 
                  =====================================
                  -->
                    </div>
                    <div class="col-12 col-sm-3">
                      <h6>Colación V.</h6>

                      <!-- 
                  =====================================
                   Array colacionV 
                  =====================================
                  -->
                      <ng-container formArrayName="colacionV">
                        <ng-container
                          *ngFor="
                            let dummy of fa(
                              'habitosAlimentarios.r24h.colacionV'
                            )?.controls;
                            let i = index
                          "
                        >
                          <ng-container [formGroupName]="i">
                            <!-- 
=====================================
 colacionV
=====================================
-->
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                [formControl]="dummy"
                                (keyup.enter)="
                                  agregarControl(
                                    fa('habitosAlimentarios.r24h.colacionV')
                                  )
                                "
                              />
                              <small id="helpId" class="form-text text-muted">
                                <a
                                  (click)="
                                    eliminarControl(
                                      fa('habitosAlimentarios.r24h.colacionV'),
                                      i
                                    )
                                  "
                                  class="text-danger"
                                  href="javascript:void(0)"
                                  *ngIf="!esDetalle"
                                  >Eliminar</a
                                >
                              </small>
                            </div>
                            <!-- 
=====================================
 END colacionV
=====================================
-->
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <!-- 
                  =====================================
                   END Array colacionV 
                  =====================================
                  -->
                    </div>
                    <div class="col-12 col-sm-3">
                      <h6>Cena</h6>

                      <!-- 
                  =====================================
                   Array cena 
                  =====================================
                  -->
                      <ng-container formArrayName="cena">
                        <ng-container
                          *ngFor="
                            let dummy of fa('habitosAlimentarios.r24h.cena')
                              ?.controls;
                            let i = index
                          "
                        >
                          <ng-container [formGroupName]="i">
                            <!-- 
=====================================
 cena
=====================================
-->
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                [formControl]="dummy"
                                (keyup.enter)="
                                  agregarControl(
                                    fa('habitosAlimentarios.r24h.cena')
                                  )
                                "
                              />
                              <small id="helpId" class="form-text text-muted">
                                <a
                                  (click)="
                                    eliminarControl(
                                      fa('habitosAlimentarios.r24h.cena'),
                                      i
                                    )
                                  "
                                  class="text-danger"
                                  href="javascript:void(0)"
                                  *ngIf="!esDetalle"
                                  >Eliminar</a
                                >
                              </small>
                            </div>
                            <!-- 
=====================================
 END cena
=====================================
-->
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <!-- 
                  =====================================
                   END Array cena 
                  =====================================
                  -->
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container formGroupName="tiemposDeComida">
                <div class="col-12">
                  <hr />
                  <h4 class="text-info">Tiempos de comida</h4>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 col-sm-3">
                      <h6>Desayuno</h6>

                      <!-- 
                  =====================================
                   Array desayuno 
                  =====================================
                  -->
                      <ng-container formArrayName="desayuno">
                        <ng-container
                          *ngFor="
                            let dummy of fa(
                              'habitosAlimentarios.tiemposDeComida.desayuno'
                            )?.controls;
                            let i = index
                          "
                        >
                          <ng-container [formGroupName]="i">
                            <!-- 
=====================================
 desayuno
=====================================
-->
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                [formControl]="dummy"
                                (keyup.enter)="
                                  agregarControl(
                                    fa(
                                      'habitosAlimentarios.tiemposDeComida.desayuno'
                                    )
                                  )
                                "
                              />
                              <small id="helpId" class="form-text text-muted">
                                <a
                                  (click)="
                                    eliminarControl(
                                      fa(
                                        'habitosAlimentarios.tiemposDeComida.desayuno'
                                      ),
                                      i
                                    )
                                  "
                                  class="text-danger"
                                  href="javascript:void(0)"
                                  *ngIf="!esDetalle"
                                  >Eliminar</a
                                >
                              </small>
                            </div>
                            <!-- 
=====================================
 END desayuno
=====================================
-->
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <!-- 
                  =====================================
                   END Array desayuno 
                  =====================================
                  -->
                    </div>
                    <div class="col-12 col-sm-3">
                      <h6>Colación M.</h6>

                      <!-- 
                  =====================================
                   Array colacionM 
                  =====================================
                  -->
                      <ng-container formArrayName="colacionM">
                        <ng-container
                          *ngFor="
                            let dummy of fa(
                              'habitosAlimentarios.tiemposDeComida.colacionM'
                            )?.controls;
                            let i = index
                          "
                        >
                          <ng-container [formGroupName]="i">
                            <!-- 
=====================================
 colacionM
=====================================
-->
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                [formControl]="dummy"
                                (keyup.enter)="
                                  agregarControl(
                                    fa(
                                      'habitosAlimentarios.tiemposDeComida.colacionM'
                                    )
                                  )
                                "
                              />
                              <small id="helpId" class="form-text text-muted">
                                <a
                                  (click)="
                                    eliminarControl(
                                      fa(
                                        'habitosAlimentarios.tiemposDeComida.colacionM'
                                      ),
                                      i
                                    )
                                  "
                                  class="text-danger"
                                  href="javascript:void(0)"
                                  *ngIf="!esDetalle"
                                  >Eliminar</a
                                >
                              </small>
                            </div>
                            <!-- 
=====================================
 END colacionM
=====================================
-->
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <!-- 
                  =====================================
                   END Array colacionM 
                  =====================================
                  -->
                    </div>
                    <div class="col-12 col-sm-3">
                      <h6>Comida</h6>

                      <!-- 
                  =====================================
                   Array comida 
                  =====================================
                  -->
                      <ng-container formArrayName="comida">
                        <ng-container
                          *ngFor="
                            let dummy of fa(
                              'habitosAlimentarios.tiemposDeComida.comida'
                            )?.controls;
                            let i = index
                          "
                        >
                          <ng-container [formGroupName]="i">
                            <!-- 
=====================================
 comida
=====================================
-->
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                [formControl]="dummy"
                                (keyup.enter)="
                                  agregarControl(
                                    fa(
                                      'habitosAlimentarios.tiemposDeComida.comida'
                                    )
                                  )
                                "
                              />
                              <small id="helpId" class="form-text text-muted">
                                <a
                                  (click)="
                                    eliminarControl(
                                      fa(
                                        'habitosAlimentarios.tiemposDeComida.comida'
                                      ),
                                      i
                                    )
                                  "
                                  class="text-danger"
                                  href="javascript:void(0)"
                                  *ngIf="!esDetalle"
                                  >Eliminar</a
                                >
                              </small>
                            </div>
                            <!-- 
=====================================
 END comida
=====================================
-->
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <!-- 
                  =====================================
                   END Array comida 
                  =====================================
                  -->
                    </div>
                    <div class="col-12 col-sm-3">
                      <h6>Colación V.</h6>

                      <!-- 
                  =====================================
                   Array colacionV 
                  =====================================
                  -->
                      <ng-container formArrayName="colacionV">
                        <ng-container
                          *ngFor="
                            let dummy of fa(
                              'habitosAlimentarios.tiemposDeComida.colacionV'
                            )?.controls;
                            let i = index
                          "
                        >
                          <ng-container [formGroupName]="i">
                            <!-- 
=====================================
 colacionV
=====================================
-->
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                [formControl]="dummy"
                                (keyup.enter)="
                                  agregarControl(
                                    fa(
                                      'habitosAlimentarios.tiemposDeComida.colacionV'
                                    )
                                  )
                                "
                              />
                              <small id="helpId" class="form-text text-muted">
                                <a
                                  (click)="
                                    eliminarControl(
                                      fa(
                                        'habitosAlimentarios.tiemposDeComida.colacionV'
                                      ),
                                      i
                                    )
                                  "
                                  class="text-danger"
                                  href="javascript:void(0)"
                                  *ngIf="!esDetalle"
                                  >Eliminar</a
                                >
                              </small>
                            </div>
                            <!-- 
=====================================
 END colacionV
=====================================
-->
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <!-- 
                  =====================================
                   END Array colacionV 
                  =====================================
                  -->
                    </div>
                    <div class="col-12 col-sm-3">
                      <h6>Cena</h6>

                      <!-- 
                  =====================================
                   Array cena 
                  =====================================
                  -->
                      <ng-container formArrayName="cena">
                        <ng-container
                          *ngFor="
                            let dummy of fa(
                              'habitosAlimentarios.tiemposDeComida.cena'
                            )?.controls;
                            let i = index
                          "
                        >
                          <ng-container [formGroupName]="i">
                            <!-- 
=====================================
 cena
=====================================
-->
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                [formControl]="dummy"
                                (keyup.enter)="
                                  agregarControl(
                                    fa(
                                      'habitosAlimentarios.tiemposDeComida.cena'
                                    )
                                  )
                                "
                              />
                              <small id="helpId" class="form-text text-muted">
                                <a
                                  (click)="
                                    eliminarControl(
                                      fa(
                                        'habitosAlimentarios.tiemposDeComida.cena'
                                      ),
                                      i
                                    )
                                  "
                                  class="text-danger"
                                  href="javascript:void(0)"
                                  *ngIf="!esDetalle"
                                  >Eliminar</a
                                >
                              </small>
                            </div>
                            <!-- 
=====================================
 END cena
=====================================
-->
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <!-- 
                  =====================================
                   END Array cena 
                  =====================================
                  -->
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="false; else botonGuardado"></ng-container>
          </div>
        </form>
      </div>
    </div>
  </div>

  <ng-template #botonGuardado>
    <div *ngIf="!esDetalle" class="col-12">
      <hr />
      <a
        (click)="submit(formulario?.value, formulario.invalid)"
        class="btn btn-success"
        href="javascript:void(0)"
        role="button"
      >
        <i class="fas fa-save"></i>

        Guardar</a
      >
    </div>

    <div *ngIf="esDetalle" class="col-12">
      <hr />

      <a
        class="btn btn-warning mr-1"
        role="button"
        (click)="modificar(paciente)"
      >
        <i class="fas fa-edit"></i> Editar
      </a>

      <a
        class="btn btn-primary ml-md-5"
        role="button"
        (click)="modalService.open(IdAntropometricos)"
      >
        <i class="fas fa-weight"></i>
      </a>
      <br />
      <br />
    </div>
  </ng-template>

  <div class="col-12 mt-3">
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <hr />
            <h1>Antropométricos</h1>
          </div>

          <div class="col-12 table-responsive">
            <app-paciente-antropometrico
              *ngFor="let item of paciente.datosAntropometricos"
              [datos]="{
                datoAntropometrico: item,
                paciente: paciente,
                esDetalle: true,
                esEdicion: false
              }"
              (guardado)="this.crearFormulario($event)"
            >
            </app-paciente-antropometrico>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<codice-modal [id]="IdAntropometricos">
  <app-paciente-antropometrico
    [datos]="{
      datoAntroPometrico: {},
      paciente: paciente,
      esDetalle: false,
      esEdicion: true
    }"
    (guardado)="this.crearFormulario($event)"
  ></app-paciente-antropometrico>
</codice-modal>
